<div #gameContainer id="game-container">
  <canvas #canvas></canvas>
  <div style="position: absolute; top: 50%;left: 50%;">
    <span #loadingProgressElement class="loading-percents">{{loadingProgress}}</span>
    <div #loader style="position: absolute; rotate: 90deg; scale: 2; visibility: visible; margin: 0px -45px;" id="loader"></div>
  </div>

  <div *ngFor="let point of points; let i = index" class="point" style="visibility: inherit" #point [class]="'point point-' + i">
    <div #pointLable class="text">{{i + 1}}<br></div>
  </div>

</div>
