html, body {
  margin:0;
  padding:0;
  overflow: hidden;
  font-family: 'Open Sans Condensed', sans-serif;
}

#game-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  outline: none;
}




#overlay {
  position: fixed;
  font-size: 5vh;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
}
#loading-indicator {
  display: block;
}

#click-to-play {
  /*display: none;*/
  color: black;
  background-color: white;
  border: 1px solid black;
}

#enter-vr {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%,0);
}

/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
#loader {
  width: 90px;
  height: 14px;
  box-shadow: 0 3px 0 #fff;
  background: linear-gradient(#fff 0 0) center/2px 100% no-repeat;
  display: grid;
}
#loader:before,
#loader:after{
  content: "";
  grid-area: 1/1;
  background: repeating-linear-gradient(90deg,#fff 0 14px,#0000 0 100%) 0 0/calc(100%/4) 100%;
  clip-path: inset(0 50% 0 0);
  animation: l2 1s infinite linear;
}
#loader:before{
  background: radial-gradient(circle 7px at 7px 50%,#fff 92%,#0000) 0 0/calc(100%/4) 100%;
  clip-path: inset(0 0 0 50%);
}
@keyframes l2 {
  100% {background-position: calc(100%/3) 0}
}


.loading-percents{
  position: inherit;
  color: #ffffff;
  width: 80px;
  left: -40px;
  top: -40px;
  font-size: 40px;
  text-align: center;
  line-height: 80px;
  visibility: visible;
  margin: 150px 0;
  font-weight: 800;
}

.point {
  position: absolute;
  top: 50%;
  left: 50%;
}

.point.visible:hover .text{
  opacity: 1;
  transform: scale(1.2,1.2);
}

.point.visible .text {
  opacity: 1;
}

.point .text{
  position: absolute;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #00000077;
  color: #FFFFFF;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}

.text.visible.active{
  overflow-y: auto;
  opacity: 1;
  padding: 10px;
  width: 240px;
  left: -120px;
  min-height: 120px;
  max-height: 450px;
  display: block;
  word-wrap: break-word;
  border-radius: 5px;
  transform: scale(1,1);
  transition: all 0.5s;
  text-align: justify;
  scrollbar-color: #888 #000000;
  scrollbar-width: thin;
}

.nav__dots{
  position: absolute;
  bottom: 40px;
  z-index: 9;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
}

.nav__dot{
  width: 14px;
  height: 14px;
  margin: 0 8px;
  border-radius: 50%;
  border: 1px solid rgba(37, 4, 44, 0.76);
  background: rgba(140, 140, 140, 0.1);
  cursor: pointer;
  transition: all 0.3s;
}




.nav__dot:hover{
  transform: scale(1.2, 1.2);
  background: rgb(255, 255, 255);
}

.nav__dot.active{
  background: rgb(255, 255, 255);
}

.free-move{
  position: absolute;
  bottom: 22px;
  left: 22px;
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #00000077;
  color: #FFFFFF;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  transition: all 0.3s;
}

.free-move:hover{
  background: #000000;
  transform: scale(1.2, 1.2);
}
